.trending_content-show {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--size-2xl);
    margin-bottom: 2rem;
}

.trending_box-show {
    width: 100%;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: auto;
    border: none;
    border-radius: 5px;
    background-color: var(--light);
}



.trending_box-show img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: 1px solid var(--rose);
}

@media (max-width: 767px) {
    .trending_content-show {
        justify-content: center;
        align-items: center;
        gap: var(--size-md);
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) {
    .trending_content-show {
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
}

@media (min-width: 1024px) {
    .trending_content-show {
        justify-content: flex-start;
        align-items: center;
        gap: var(--size-2xl);
    }
}

@media (min-width: 1440px) {

}

@media (min-width: 1560px) {

}